@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

$purple:    #1C1D3B;
$lime:      #D8E054;
$yellow:    #FFFAC2;
$blue:      #A2F2F9;
$blue-hover:#49D5E1;
$black:       #000000;
$white:     #FFFFFF;
$blue-dark: #233A59;

$shadow-card: 0px 4px 6px -2px rgba(0, 0, 0, 0.2);
$shadow-btn: -1px 1px 4px rgba(0, 0, 0, 0.2);
$primary-font: 'Montserrat', sans-serif;