@import '../../styles/variables';

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content-game {
    margin-top: 32px;
    background-color: $yellow;
    width: 80%;
    height: 100%;
    border-radius: 16px 16px 0px 0px;
    padding: 36px 72px;
}